/* stylelint-disable */
@import '~antd/es/style/themes/default.less';

.lastNoticeWord {
  p {
    font-size: 18px;
    font-weight: 600;
  }
}

.topCard {
  height: 260px;
}

.searchCard {
  height: 120px;
}

.postCard {
  height: 120px;
}

.moreCard {
  height: 340px; 
}

.moreCard:hover {
  box-shadow: 0px 0px 10px #888888;
}

.lastNotice {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  .noticeTitle {
    margin: 20px 0 0 24px;
    p {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
  .noticeContent {
    margin: 10px 24px;
    height: 110px;
    line-height: 25px;
    max-height: 100px;
    overflow: hidden;
    p {
      font-size: 16px;
    }
  }
  .noticeTime {
    text-align: right;
    margin: 10px 24px;
    display: flex;
    justify-content: space-between;
    p {
      color: rgba(0, 0, 0, 0.45);
      margin-bottom: 6px;
    }
  }
}

.moreNotice {
  cursor: pointer;
  .noticeTitle {
    margin: 12px 0 0 16px;
    p {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
  .noticeContent {
    margin: 10px 16px;
    height: 300px;
    line-height: 25px;
    max-height: 200px;
    overflow: hidden;
    p {
      font-size: 16px;
    }
  }
  .noticeTime {
    text-align: right;
    margin: 10px 16px;
    display: flex;
    justify-content: space-between;
    p {
      color: rgba(0, 0, 0, 0.45);
    }
  }
}

.searchNotice {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 12px auto;
  .noticeTitle {
    margin: 12px 0 0 16px;
    p {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
  .noticeContent {
    margin: 10px 16px;
    line-height: 25px;
    max-height: 100px;
    overflow: hidden;
    p {
      margin-bottom: 0;
      font-size: 16px;
    }
  }
  .noticeTime {
    text-align: right;
    margin: 10px 16px;
    display: flex;
    justify-content: space-between;
    p {
      color: rgba(0, 0, 0, 0.45);
    }
  }
}

.moreTip {
  cursor: pointer;
  text-align: center;
}

.send {
  text-align: center;
  p {
    font-size: 16px;
  }
}

.typeSelect {
  margin: 0 20px 20px 0;
}

.tip {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}

.time {
  width: 100px;
  margin: 20px auto;
  .year {
    margin-bottom: -16px;
    font-weight: 500;
    .current {
    }
  }
  .date {
    display: flex;
    align-items: flex-start;
    .month {
      font-weight: 100;
      font-size: 24px;
      margin-top: 16px;
    }
    .day {
      font-weight: 200;
      margin: auto 8px;
      font-size: 60px;
    }
  }
  .tipsWord {
    margin-top: -8px;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
  }
  p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: @screen-lg) {
  .salesExtra {
    display: none;
  }

  .rankingList {
    li {
      span:first-child {
        margin-right: 8px;
      }
    }
  }
}

@media screen and (max-width: @screen-md) {
  .rankingTitle {
    margin-top: 16px;
  }

  .salesCard .salesBar {
    padding: 16px;
  }
}

@media screen and (max-width: @screen-sm) {
  .salesExtraWrap {
    display: none;
  }

  .salesCard {
    :global {
      .ant-tabs-content {
        padding-top: 30px;
      }
    }
  }
}
